<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8" />
<title>お問い合わせ</title>
</head>
<body>
	<h1>お問い合わせ</h1>
	<form role="form" th:action="@{/result}" method="post">
		<div>
			<p>名前 : <input type="text" name="name" /></p>
		</div>
		<div>
			<p>メール : <input type="email" name="email" /></p>
		</div>
		<div>
			<textarea rows="3" cols="80" name="message" ></textarea>
		</div>
		<p>
			<input type="submit" value="Submit" />
		</p>
	</form>
</body>
</html>